		
.newslider-vertical{width:800px;height:600px;}

/* Nav */
.newslider-vertical .sliderkit-nav{width:200px;height:165px;}
.newslider-vertical .sliderkit-nav-clip li{height:110px;width:190px;margin-bottom:5px;padding-right:10px;}
.newslider-vertical .sliderkit-nav-clip li.sliderkit-selected{background:transparent url("../img/lalka.png") no-repeat right center;}
.newslider-vertical .sliderkit-nav-clip li a{height:80px;width:180px;padding:25px 0 0 10px;text-align:left;font-size:1.3em;color:#000;text-decoration:none;background:url("../img/bgc.png");}
.newslider-vertical .sliderkit-nav-clip li a:hover,
.newslider-vertical .sliderkit-nav-clip li a:focus{color:#000;}

/* Panel */
.newslider-vertical .sliderkit-panels{position:absolute;left:200px;width:598px;height:563px;overflow:hidden;border:1px solid #ccc;}
.newslider-vertical .sliderkit-panel{left:0;top:0;width:579px;height:545px;padding:10px; font-size: 14px;}
.sliderkit-panel {background: #fff; }

.newslider-vertical .sliderkit-news h3,
.newslider-vertical .sliderkit-news h3 a{color:#000;font-weight:bold;}
.newslider-vertical .sliderkit-news h3{font-size:1.2em;margin:0 0 15px;}
.newslider-vertical .sliderkit-news img{float:right;width:130px;height:auto;margin:0 0 0 10px;overflow:hidden;}
.newslider-vertical .sliderkit-news p{margin:0;}
.newslider-vertical .sliderkit-news-readmore{position:absolute;right:10px;bottom:10px;}

body {
	background: #63a7cd;
}

